{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          👋 Hello! I'm G. Hema Sandeep, an enthusiastic M.Tech Integrated Computer Science student at Vellore Institute of Technology, currently in my fourth year. 🎓
          🚀 My passion lies at the dynamic intersection of Machine Learning, and Python development. I'm adept at leveraging these technologies to craft innovative solutions for real-world challenges. 💡
        </p>
        <p>
          🌟 I am actively honing my skills in Java and Data Structures & Algorithms (DSA), eager to contribute to forward-thinking organizations that value innovation, teamwork, and growth. If you're looking for a dedicated team member with a thirst for knowledge and a drive to excel, let's connect! 🤝
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
